.header {
   display: flex;
   align-items: center;
   gap: 15px; 
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}
.social-media img:hover {
  transform: scale(1.1);
}